include incl/header.pug

body
if object
    p Välkommen till Internetbanken!
    p #{object.firstname} #{object.lastname}
    <div id="startpagetable">
        <table>
            <tr><th>Kontonummer</th><th>Saldo</th></tr>
            each row, rownum in accounts
                tr
                    td= row.accountNr
                    td= row.balance
        </table>
        <p>Här nere listas alla personer som har tillgång till de konton du har tillgång till.</p>
    if resultset
        <table>
            <tr><th>Kontonummer</th><th>Förnamn</th><th>Efternamn</th><th>Personnummer</th></tr>
            each row, rownum in resultset
                tr
                    td= row.accountNr
                    td= row.firstName
                    td= row.lastName
                    td= row.civicNumber
        </table>
    else
        p Inga konto delas med någon annan
    </div>
    
    p Här har du möjligheten att föra över pengar mellan dina konton!
    <div id=movemoneybd>
        <form method="post" action="/movemoney">
            <input type="hidden" name="userid" value="#{object.userid}">
            <input type="hidden" name="usercode" value="#{object.usercode}">
            <input type="hidden" name="code" value="200">
            <p>Kontonummer FRÅN: <input type="text" name="fromaccountnr" value=""></p>
            <p>Total Summa: <input type="text" name="amount" value=""></p>
            <p>Kontonummer TILL: <input type="text" name="toaccountnr" value=""></p>
            <input type="submit" name="MoveMoney" value="Flytta pengar">
        </form>
    </div>
    <div id=createacc>
        p Klicka här för att generera fram ett nytt konto kopplat till dig.
        <form method="post" action="/createacc">
            <input type="hidden" name="userid" value="#{object.userid}">
            <input type="hidden" name="usercode" value="#{object.usercode}">
            <input type="submit" name="createacc" value="Skapa ett nytt konto">
        </form>
    </div>
else
    p Bad login
include incl/footer.pug
